.titlebar {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.misc-infobar {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: gray;
}

.favsNum {
    margin-left: 1rem;
}

.admin-corner {
    background-color : rgb(254, 255, 205);
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid lightgray;
  /* border-color: rgb(255, 213, 73); */
  width: 15rem;
  height: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
}

.edit-button {
    font-weight: bold;
    color: red;
    background: white;
    border: solid gray 1px;
    border-radius: 5px;
    font-size: 1rem;
    height: 1.7rem;
}

.edit-button:hover {
    background-color: gray;
    cursor: pointer;
}

#edit-float {
    position: fixed;
  bottom: -4px;
  right: 10px;
}

.sub-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.fav-button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(211, 211, 211) !important;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-right: 1rem; */
}

.loggedout-fav-button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    background-color: rgb(219, 219, 219);
    border: 1px solid rgb(209, 209, 209) !important;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: gray;
}

.loggedout-fav-button:hover {
    cursor: not-allowed
}

.loggedout-fav-text {
    color: gray;
}

.single-proj-section {
    /* width: 100%; */
    /* min-width: 25rem; */
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.single-proj-content {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    flex-direction: column;
    /* min-width: 20rem; */
    width: 60%
}

.interaction-section {
    /* width: 100%; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interact-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.line-break {
    width: 6rem;
    padding-top: 2rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
}

.single-step-title {
    margin-top: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    
}

.image-container {
    width: 100%;
    /* max-height: 20rem; */
    /* min-height: 25rem; */
    /* border: red solid 1px; */
    padding-top: 1rem;
    overflow: hidden;
}

.img {
    object-fit: cover;
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
    /* max-height: 20rem; */
    /* border-radius: 20px; */
    /* object-fit: cover; */
}

.comment-section {
    /* border: red solid 1px; */
}

.comment-input-box-container {
    border: rgb(178, 178, 178) solid 1px;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.comment-input-top {
    display: flex;
    flex-direction: row;
    width: 98%;
    overflow: hidden;
}

.comment-input {
    width: 100%;
    margin-right: none !important;
}

.comment-text-input {
    border: solid 1px gray;
    background-color: white;
    padding: 1rem;
    width: 100%;
    /* margin-right: 1rem !important; */
    margin-bottom: 1rem;
}

.user-img {
    width: 3.5rem;
}

.comment-input-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#cat {
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: lightgray;
}

.comment-msg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.comment-buttons {
    display: flex;
    flex-direction: row;
}

.comment-buttons> button {
    height: 2rem;
    width: 4rem;
    background-color: rgb(255, 213, 73);
    border: 1px solid rgb(255, 213, 73) !important;
    border-radius: 5px;
    margin-right: 1rem;
}

.comment-buttons> button:hover {
    background-color: rgb(255, 201, 52);
    cursor: pointer;
}

.main-comment-buttons> button {
    height: 2rem;
    width: 4rem;
    background-color: rgb(255, 213, 73);
    border: 1px solid rgb(255, 213, 73) !important;
    border-radius: 5px;
    margin-right: 1rem;
}

.main-comment-buttons> button:hover {
    background-color: rgb(255, 201, 52);
    cursor: pointer;
}

#close-edit-button {
    background-color: white;
    border: solid 1px lightgray !important;
    border-radius: 5px;
}

#close-edit-button:hover {
    background: rgb(235, 235, 235);
}

.num-comments {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.one-comment {
    border-top: 1px solid rgb(178, 178, 178);
    padding: 1rem;
}

.one-comment-text {
    margin-bottom: 1rem;
}

.one-comment-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.one-comment-top-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.commenter-info {
    display: flex; 
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}

.one-comment-top-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ud-comment-buttons {
    border: none;
    margin: 0.5rem;
    background-color: white !important;
    
}

.ud-comment-buttons:hover {
    text-decoration: underline;
    cursor: pointer;
    /* color: gray; */
}

#heart {
    color: rgb(187, 31, 114);
    padding-right: 0.5rem;
}

#unfaved-heart {
    padding-right: 0.5rem;
}

#unfaved-button {
    color: gray !important;
}

#loggedout-fave-button {
    color: gray !important;
}

#unfaved-button:hover {
    color: rgb(187, 31, 114) !important;
}

.unfaved-text {
    color: black;
}

#faved {
    box-shadow: inset 0px 1px 5px rgba(115, 115, 115, 0.9);
    
}

#faved:hover {
    background-color: rgb(238, 238, 238);
}

.fav-button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

#loggedout-comment-button:hover {
    cursor: not-allowed;
    background-color: rgb(255, 213, 73);
}

.interact-bar-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#not-implemented {
    color: gray;
}

#not-implemented:hover {
    cursor: not-allowed;
}