#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    position: absolute;
    background-color:white;
     /* padding-top: 2em; */
    /* padding-bottom: 2.5em; */
    /* padding: 2em; */
    border-radius: 5px;
    /* width: 40em;
    height:  */
    display: flex;
    justify-content: center;
    align-items: center;
  }