.question-answer-button {
    height: 2rem;
    background-color: white;
    border: solid lightgray 1px;
    border-radius: 5px;
}

.question-answer-button:hover {
    cursor: pointer;
}

.question-tag {
    color: white;
    background-color: gray;
    font-size: 0.7rem;
    padding: 0.2rem;
    border-radius: 3px;
    margin-right: 0.5rem;
}

.answers-container {
    /* border: solid red 1px; */
    border-top: solid 1px rgb(189, 189, 189);
    margin-left: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}